In [8]:
import json
import locale
import statistics
import pandas as pd

In [18]:
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [10]:
dataframe = pd.read_json('dados.json')
dataframe.to_csv('dados.csv')

In [11]:
dataframe = pd.read_csv('dados.csv', index_col=0)
dataframe.head(5)

   dia       valor
0    1  22174.1664
1    2  24537.6698
2    3  26139.6134
3    4      0.0000
4    5      0.0000

In [16]:
valor = dataframe['valor']
dataframe = dataframe[dataframe['valor'] != 0]
valor.head(5)

0    22174.1664
1    24537.6698
2    26139.6134
5    26742.6612
7    42889.2258
Name: valor, dtype: float64

In [20]:
maior = (max(valor))
menor = (min(valor))
total = (dataframe['valor'].sum())
media = statistics.mean(valor)
dias_acima = len ([i for i in valor if i > media])

print("O maior valor de faturamento ocorrido em um dia do mês foi de:", locale.currency(maior, grouping=True))
print("O menor valor de faturamento ocorrido em um dia do mês foi de:", locale.currency(menor, grouping=True))
print("O valor total do faturamento foi de:", locale.currency(total, grouping=True))
print("O valor da média do faturamento foi de:", locale.currency(media, grouping=True))
print("Número de dias no mês em que o valor de faturamento diário foi superior à média mensal:", (dias_acima))

O maior valor de faturamento ocorrido em um dia do mês foi de: R$ 48.924,24
O menor valor de faturamento ocorrido em um dia do mês foi de: R$ 373,78
O valor total do faturamento foi de: R$ 438.172,77
O valor da média do faturamento foi de: R$ 20.865,37
Número de dias no mês em que o valor de faturamento diário foi superior à média mensal: 10